/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* PAGE CENTER */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

/* 1:1 POSTER */
.poster {
  width: 1080px;
  height: 1080px;
  background: linear-gradient(to bottom, #ff9933, #ffffff, #138808);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE PREVIEW */
@media (max-width: 1100px) {
  .poster {
    width: 100vw;
    height: 100vw;
  }
}

/* CARD */
.poster-card {
  width: 92%;
  height: 92%;
  background: linear-gradient(145deg, #f3bc6a, #ffd580);
  border-radius: 30px;
  padding: 40px;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

/* PHOTO (SQUARE ONLY) */
.photo-box {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid orange;
  flex-shrink: 0;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.content h1 {
  color: #d35400;
  font-size: 48px;
  margin-bottom: 10px;
}

.content p {
  font-size: 26px;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 30px;
  color: #000;
}

/* MOBILE STACK */
@media (max-width: 700px) {
  .poster-card {
    flex-direction: column;
    text-align: center;
  }

  .photo-box {
    width: 220px;
    height: 220px;
  }
}
